@model List<new1.Models.record1>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table" border="1">
     <tr>
         <th>Id</th>
         <th>Name</th>
         <th>Address</th>
         <th>Edit name</th>
     </tr>
    @foreach (var data in Model)
    {
<tr>
    <td>@(data.id)</td>
    <td>@(data.name)</td>
    <td>@(data.address)</td>
    <td><a href="@Url.Action("Edit", new { id = data.id })">Edit</a></td>
</tr>
    }
</table>
<button class="btn btn-sucess"><a href="@Url.Action("Create")">Add record</a></button>
